.app__scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.app__scrollToTop button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.app__scrollToTop button:hover {
    background-color: #555;
}