.app__bookings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-form {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5vmin;
}

#bookings__form {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 1rem;
    color: #aaa;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-textarea {
    resize: vertical;
}

@media screen and (max-width:600px) {
    #bookings__form {
        width: 90%;
    }
}