.app__ourMenu {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.app__ourMenu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.app__ourMenu-head_name {
    flex: 1;
    text-align: start;
}

.app__ourMenu-line {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__ourMenu-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.app__ourMenu-tag p {
    color: #666 !important;
    width: 90%;
    margin: auto;
}
