.app__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 70px;
} 

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        letter-spacing: 0.03em;
        font-size: 50px;
    } 

    .app__wrapper_img {
        width: 450px;
    }

    .app__wrapper_img img {
        width: 100%;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 850px) {
    .app__header-h1 {
        font-size: 45px;
    } 
}

@media screen and (max-width: 850px) {
    .app__header {
        flex-direction: column;
    }
}

